# CODEOWNERS file

# Assign the reviewer team as the code owner for content directory
/content/* @quantum-engineering-polito/reviewers

# Assign the maintainer team as the code owner for all files
* @quantum-engineering-polito/maintainers

# Exclude content directory and its contents from code owner assignment
/content/ !@quantum-engineering-polito/maintainers
