img {
    display: block;
    margin: auto;
}

img[alt*="left"] {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

img[alt*="right"] {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}