// a {
//   font-weight: 600;
//   text-decoration: none;
//   transition: color 0.2s ease;
//   color: var(--secondary);
// }

// a {
//   a {
//   &:hover {
//     color: var(--tertiary) !important;
//   }

//   &.internal:not(:has(> img)) {
//     text-decoration: none;
//     background-color: var(--highlight);
//     padding: 0 0.1rem;
//     border-radius: 5px;
//   }

// }
// }

div.author {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  // background-color: red;
  // margin: auto;
  padding: 0.2rem 0.5rem;
  // border-radius: 0.5rem;
  border-width: 0.15rem 0;
  border-style: solid;
  border-color: var(--gray);
  margin-top: 0;
  margin-bottom: 1.5rem;

  & > p {
    color: var(--darkgray);
    font-weight: bold;
  }

  & > * {
    // padding: 0;
    margin: 0.2rem
  }

  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: baseline;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--lightgray);
  }

  & > a:hover {
    background-color: color-mix(in srgb,var(--tertiary)75%,transparent);;
    transition: background-color 0.3s ease;
    color: var(--primary) !important;
  }

  & > a > img {
    width:1.5rem;
    border-radius:25%;
    align-self:center;
    margin: 0 0 0 0.5rem;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}